
<a id="waldo-photo" class="searching">

  <%= image_tag "#{@photo.id}.jpg", class: "searching" %>

  <div class="target">
    <div class='dropdown'>

      <div class="name">
        <% @characters.each do |character| %>
          <%= button_to character.name, tags_path, {method: :post, class: "btn btn-default btn-block", data: { character: "#{character.id}"} } %>
        <% end %>
      </div>

    </div>
  </div>
</a>

<% @tagged.each do |tag| %>
  <div class="tag" style="<%="left: #{tag.x}px; top: #{tag.y}px"%>" data-tagid="<%= tag.id %>">
    <div class="delete-tag">X</div>
    <p class="tagged-name"><%= tag.character.name %></p>
  </div>
<% end %>
