<!DOCTYPE html>
<html>
<head>
  <title>ProjectWheresWaldo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="<%= controller_name + "-" + action_name %>">
  <%= yield %>
</div>

</body>
</html>
